<div class="contenedor">


  <div class="container">
    <div class="col-12">
      <div class="row text-center ">
        <div class="col-12  mt-3 col-12_flex">
          <div class="circle">
            <i class="far fa-user login_iconUser"></i>
          </div>

          <form class="form-signin" [formGroup]="formulario">
            <div class="col-12 aqui">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

              <input formControlName="correo" type="email" class="form-control" placeholder="Email address" required=""
                autofocus=""
                >

              


              <input formControlName="contraseña" type="password" class="form-control mt-3" placeholder="Password"
                required=""
               >

              



            


              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="loginservicecall()">Sign in</button>
              <a routerLink="/register">Register</a>
              <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
